<a href="https://colab.research.google.com/github/ditarnnt/Telecom-Predic-Churn/blob/main/PP_IBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##IMPORT LIBRARY

In [ ]:
from google.colab import drive
import pandas as pd #pandas
import numpy as np #numpy
from sklearn.preprocessing import LabelEncoder, OneHotEncoder #encoding data kategorikal
from sklearn.model_selection import train_test_split #train test split

##IMPORT DATASET

In [ ]:
drive.mount('/content/gdrive')

df = pd.read_csv('/content/gdrive/My Drive/TubesAI_folder/IBM_dataset.csv')
df

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0     7590-VHVEG  Female              0  ...          29.85        29.85     No
1     5575-GNVDE    Male              0  ...          56.95       1889.5     No
2     3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3     7795-CFOCW    Male              0  ...          42.30      1840.75     No
4     9237-HQITU  Female              0  ...          70.70       151.65    Yes
...          ...     ...            ...  ...            ...          ...    ...
7038  6840-RESVB    Male              0  ...          84.80       1990.5     No
7039  2234-XADUH  Female              0  ...         103.20       7362.9     No
7040  4801-JZAZL  Female              0  ...          29.60       346.45     No
7041  8361-LTMKD    Male              1  ...          74.40        306.6    Yes
7042  3186-AJIEK    Male              0  ...         105.65       6844.5     No

[7043 rows x 21 columns]

##PREPROCESSING

In [ ]:
#Ini perlu dijalanin sekali aja

index_drop = df.loc[df.TotalCharges == ' '].index.tolist() #Mencari data tidak jelas
df.drop(index=index_drop,inplace=True) #Menghapus data tidak jelas
df.drop(columns=['customerID'],inplace=True) #Menghapus customerID, fitur tidak relevan
df.reset_index(drop=True,inplace=True) #Reset index setelah didrop
df['TotalCharges'] = df['TotalCharges'].astype(float) #Konversi jadi float

In [ ]:
#Membedakan fitur numerik dan kategorikal

def diff(first, second): #fungsi pengurangan list
  '''
  Fungsi yang menghitung difference dari list. Elemen dari list pertama yang ada di list kedua dihilangkan
  tanpa mengubah urutan list pertama.
  Input:
  first - list pertama
  second - list kedua
  Output:
  List yang mengandung difference dari list pertama dan kedua sesuai definisi fungsi.
  '''
  second = set(second)
  return [item for item in first if item not in second]

cols = df.columns.tolist() #kolom-kolom

label = ['Churn']

features = diff(cols,label) #fitur-fitur

num_features = df.select_dtypes(include=np.number).columns.tolist() 
num_features = diff(num_features,label) #fitur-fitur numerik
num_features = diff(num_features,['SeniorCitizen']) #pengecualian

cat_features = diff(features,num_features) #fitur-fitur kategorikal

cols = num_features + cat_features + label #kolom-kolom yang sudah dirapihkan

df = df[cols] #pengurutan kolom dataframe agar rapih

print('Kolom-kolom total:')
print(cols,'\n')
print('Fitur-fitur:')
print(features,'\n')
print('Fitur-fitur numerik:')
print(num_features,'\n')
print('Fitur-fitur kategorikal:')
print(cat_features,'\n')
print('Label:')
print(label,'\n')
print('Dataframe:')
print(df,'\n')

Kolom-kolom total:
['tenure', 'MonthlyCharges', 'TotalCharges', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'Churn']

Fitur-fitur:
['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges']

Fitur-fitur numerik:
['tenure', 'MonthlyCharges', 'TotalCharges']

Fitur-fitur kategorikal:
['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod']

Label:
['Churn']

Dataframe:
      tenure  MonthlyCharges  ...              PaymentMethod Churn
0          1           29.85  ...           Electronic check    No
1         34           56.95  ...               Mailed check    No
2          2           53.85  ...               Mailed check   Yes
3         45           42.30  ...  Bank transfer (automatic)    No
4          2           70.70  ...           Electronic check   Yes
...      ...             ...  ...                        ...   ...
7027      24           84.80  ...               Mailed check    No
7028      72          103.20  ...    Credit card (automatic)    No
7029      11           29.60  ...           Electronic check    No
7030       4           74.40  ...               Mailed check   Yes
7031      66          105.65  ...  Bank transfer (automatic)    No

[7032 rows x 20 columns]

In [ ]:
def encode_cat(df,cat_features):
  '''
  Fungsi untuk meng-encode kolom-kolom kategorikal secara One-Hot Encoding.
  Input: 
  df - DataFrame pandas yang akan di-encode
  cat_features - list berupa fitur-fitur kategorikal yang akan di-encode
  Output:
  DataFrame df yang sudah di-encode fitur-fitur kategorikalnya.
  '''
  df_placeholder = pd.DataFrame(index=df.index.tolist())
  for cat_col in cat_features:
    dum_df = pd.get_dummies(df[cat_col], columns=[cat_col],prefix=cat_col)
    df_placeholder = df_placeholder.join(dum_df)
  df = df.drop(columns=cat_features)
  df = df.join(df_placeholder)
  temp = df['Churn']
  df.drop(columns=['Churn'],inplace=True)
  df = df.join(temp)
  return df

def encode_label(df,label):
  '''
  Fungsi yang meng-encode label dari dataframe.
  Input:
  df - DataFrame yang labelnya akan di-encode
  label - string label
  Output:
  DataFrame df yang labelnya sudah di-encode.
  '''
  labelencoder = LabelEncoder()
  df[label] = labelencoder.fit_transform(df[label])
  return df

#Encode fitur-fitur kategorikal dengan onehot encoder
df = encode_cat(df,cat_features)
#Encode label dengan label encoder
df = encode_label(df,label[0])

df

      tenure  MonthlyCharges  ...  PaymentMethod_Mailed check  Churn
0          1           29.85  ...                           0      0
1         34           56.95  ...                           1      0
2          2           53.85  ...                           1      1
3         45           42.30  ...                           0      0
4          2           70.70  ...                           0      1
...      ...             ...  ...                         ...    ...
7027      24           84.80  ...                           1      0
7028      72          103.20  ...                           0      0
7029      11           29.60  ...                           0      0
7030       4           74.40  ...                           1      1
7031      66          105.65  ...                           0      0

[7032 rows x 47 columns]

In [ ]:
#df.to_csv('/content/gdrive/My Drive/TubesAI_folder/IBM_pp.csv',index=False)