<a href="https://colab.research.google.com/github/ditarnnt/Telecom-Predic-Churn/blob/main/PP_Kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##IMPORT LIBRARY

In [ ]:
from google.colab import drive
import pandas as pd #pandas
import numpy as np #numpy
from sklearn.preprocessing import LabelEncoder, OneHotEncoder #encoding data kategorikal
from sklearn.preprocessing import StandardScaler #standardization
from sklearn.model_selection import train_test_split #train test split

##IMPORT DATASET

In [ ]:
drive.mount('/content/gdrive')

df = pd.read_csv('/content/gdrive/My Drive/TubesAI_folder/Dataset/Telecom_customer churn.csv',keep_default_na=False,na_values=[""])

df

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

       rev_Mean  mou_Mean  totmrc_Mean  ...  creditcd  eqpdays  Customer_ID
0       23.9975    219.25       22.500  ...         Y    361.0      1000001
1       57.4925    482.75       37.425  ...         Y    240.0      1000002
2       16.9900     10.25       16.990  ...         Y   1504.0      1000003
3       38.0000      7.50       38.000  ...         Y   1812.0      1000004
4       55.2300    570.50       71.980  ...         Y    434.0      1000005
...         ...       ...          ...  ...       ...      ...          ...
99995       NaN       NaN          NaN  ...         Y    773.0      1099996
99996       NaN       NaN          NaN  ...         Y    835.0      1099997
99997       NaN       NaN          NaN  ...         N    433.0      1099998
99998       NaN       NaN          NaN  ...         N     75.0      1099999
99999       NaN       NaN          NaN  ...         N      5.0      1100000

[100000 rows x 100 columns]

drive.mount('/content/gdrive')

df = pd.read_csv('/content/gdrive/My Drive/TubesAI_folder/Telecom_customer churn.csv',keep_default_na=False,na_values=[""])

##PREPROCESSING

In [ ]:
#Menentukan fitur kategorikal yang akan di-encode atau drop

categorical_columns = ['new_cell','crclscod','asl_flag','prizm_social_one',
                       'dualband','refurb_new','hnd_webcap','dwlltype','marital',
                       'infobase','HHstatin','dwllsize','ethnic','kid0_2','kid3_5',
                       'kid6_10','kid11_15','kid16_17','creditcd','Customer_ID',
                       'area','ownrent'] #fitur-fitur yang kategorikal

drop_cat_cols = [] #placeholder untuk categorical yang bakalan didrop
enc_cat_cols = [] #placeholder untuk categorical yang bakalan lanjut di-encode

for i in range(len(categorical_columns)):
  cat_col_i = categorical_columns[i]
  value_count = df[cat_col_i].value_counts()
  #print(cat_col_i,":")
  #print(value_count)
  if (len(value_count)>3):
    drop_cat_cols.append(cat_col_i)

print('Categorical columns to drop:')
print(drop_cat_cols)

enc_cat_cols = list(set(categorical_columns) - set(drop_cat_cols))

print('Categorical columns to encode:')
print(enc_cat_cols)

Categorical columns to drop:
['crclscod', 'prizm_social_one', 'dualband', 'hnd_webcap', 'marital', 'HHstatin', 'dwllsize', 'ethnic', 'Customer_ID', 'area']
Categorical columns to encode:
['kid11_15', 'creditcd', 'asl_flag', 'ownrent', 'dwlltype', 'kid6_10', 'infobase', 'kid3_5', 'new_cell', 'kid0_2', 'refurb_new', 'kid16_17']

In [ ]:
#melakukan cleaning dan filtering fitur-fitur tidak berguna
df.dropna(axis='index',inplace=True)
for dropped_col in drop_cat_cols:
  df.drop(dropped_col,axis='columns',inplace=True)
df.drop('forgntvl',axis='columns',inplace=True) #drop forgntvl, kasus khusus


df

         rev_Mean     mou_Mean  totmrc_Mean  ...  kid16_17  creditcd  eqpdays
0       23.997500   219.250000      22.5000  ...         U         Y    361.0
2       16.990000    10.250000      16.9900  ...         U         Y   1504.0
4       55.230000   570.500000      71.9800  ...         U         Y    434.0
9       31.662500    25.500000      29.9900  ...         U         Y    601.0
14     212.515000  1971.500000      84.9900  ...         U         Y    199.0
...           ...          ...          ...  ...       ...       ...      ...
99939   49.362500   187.750000      40.0725  ...         U         Y    153.0
99940   47.490000     0.000000      49.9900  ...         Y         Y    829.0
99963   41.840000   351.000000      30.0000  ...         U         Y    254.0
99970   38.340000   319.500000      30.0000  ...         U         Y    945.0
99976   31.923333    63.333333      16.9900  ...         U         Y    883.0

[30651 rows x 89 columns]

In [ ]:
#menggeser fitur-fitur kategorikal ke sebelah kanan dataset agar mudah

label = ['churn'] #label
num_cols = df.columns.to_list()

def diff(first, second):
  second = set(second)
  return [item for item in first if item not in second]

num_cols = diff(num_cols,label)
num_cols = diff(num_cols,enc_cat_cols) #num_cols adalah list fitur2 numerik

cols = num_cols + enc_cat_cols + label #list kolom-kolom yang ordered, termasuk di dalamnya label
print(cols)

df = df[cols] #dataframe yang udah diorder

features = diff(cols,label) #fitur-fitur

df

['rev_Mean', 'mou_Mean', 'totmrc_Mean', 'da_Mean', 'ovrmou_Mean', 'ovrrev_Mean', 'vceovr_Mean', 'datovr_Mean', 'roam_Mean', 'change_mou', 'change_rev', 'drop_vce_Mean', 'drop_dat_Mean', 'blck_vce_Mean', 'blck_dat_Mean', 'unan_vce_Mean', 'unan_dat_Mean', 'plcd_vce_Mean', 'plcd_dat_Mean', 'recv_vce_Mean', 'recv_sms_Mean', 'comp_vce_Mean', 'comp_dat_Mean', 'custcare_Mean', 'ccrndmou_Mean', 'cc_mou_Mean', 'inonemin_Mean', 'threeway_Mean', 'mou_cvce_Mean', 'mou_cdat_Mean', 'mou_rvce_Mean', 'owylis_vce_Mean', 'mouowylisv_Mean', 'iwylis_vce_Mean', 'mouiwylisv_Mean', 'peak_vce_Mean', 'peak_dat_Mean', 'mou_peav_Mean', 'mou_pead_Mean', 'opk_vce_Mean', 'opk_dat_Mean', 'mou_opkv_Mean', 'mou_opkd_Mean', 'drop_blk_Mean', 'attempt_Mean', 'complete_Mean', 'callfwdv_Mean', 'callwait_Mean', 'months', 'uniqsubs', 'actvsubs', 'totcalls', 'totmou', 'totrev', 'adjrev', 'adjmou', 'adjqty', 'avgrev', 'avgmou', 'avgqty', 'avg3mou', 'avg3qty', 'avg3rev', 'avg6mou', 'avg6qty', 'avg6rev', 'hnd_price', 'phones', 'models', 'truck', 'rv', 'lor', 'adults', 'income', 'numbcars', 'eqpdays', 'kid11_15', 'creditcd', 'asl_flag', 'ownrent', 'dwlltype', 'kid6_10', 'infobase', 'kid3_5', 'new_cell', 'kid0_2', 'refurb_new', 'kid16_17', 'churn']

         rev_Mean     mou_Mean  totmrc_Mean  ...  refurb_new  kid16_17  churn
0       23.997500   219.250000      22.5000  ...           N         U      1
2       16.990000    10.250000      16.9900  ...           N         U      1
4       55.230000   570.500000      71.9800  ...           N         U      0
9       31.662500    25.500000      29.9900  ...           N         U      0
14     212.515000  1971.500000      84.9900  ...           N         U      0
...           ...          ...          ...  ...         ...       ...    ...
99939   49.362500   187.750000      40.0725  ...           N         U      1
99940   47.490000     0.000000      49.9900  ...           N         Y      1
99963   41.840000   351.000000      30.0000  ...           N         U      0
99970   38.340000   319.500000      30.0000  ...           N         U      1
99976   31.923333    63.333333      16.9900  ...           N         U      0

[30651 rows x 89 columns]

In [ ]:
#melakukan encoding feature-feature kategorikal
for i in range(-1*len(enc_cat_cols)-1,-1):
  labelencoder = LabelEncoder() #object label encoder
  #print(i)
  df.iloc[:,i] = labelencoder.fit_transform(df.iloc[:,i]) #encode label
 
df

         rev_Mean     mou_Mean  totmrc_Mean  ...  refurb_new  kid16_17  churn
0       23.997500   219.250000      22.5000  ...           0         0      1
2       16.990000    10.250000      16.9900  ...           0         0      1
4       55.230000   570.500000      71.9800  ...           0         0      0
9       31.662500    25.500000      29.9900  ...           0         0      0
14     212.515000  1971.500000      84.9900  ...           0         0      0
...           ...          ...          ...  ...         ...       ...    ...
99939   49.362500   187.750000      40.0725  ...           0         0      1
99940   47.490000     0.000000      49.9900  ...           0         1      1
99963   41.840000   351.000000      30.0000  ...           0         0      0
99970   38.340000   319.500000      30.0000  ...           0         0      1
99976   31.923333    63.333333      16.9900  ...           0         0      0

[30651 rows x 89 columns]

In [ ]:
#Split jadi feature dan label

X = np.array(df.drop('churn',axis='columns',inplace=False).values)
Y = np.array(df.loc[:,'churn'].values)

print(X)
print(Y)

[[ 23.9975     219.25        22.5        ...   0.           0.
    0.        ]
 [ 16.99        10.25        16.99       ...   0.           0.
    0.        ]
 [ 55.23       570.5         71.98       ...   0.           0.
    0.        ]
 ...
 [ 41.84       351.          30.         ...   0.           0.
    0.        ]
 [ 38.34       319.5         30.         ...   0.           0.
    0.        ]
 [ 31.92333333  63.33333333  16.99       ...   0.           0.
    0.        ]]
[1 1 0 ... 0 1 0]

In [ ]:
#standardisasi fitur-fitur numerik
#ada yang bilang ini ga perlu kalo pake Random Forest, jadi bisa diskip!
#saran: bikin dua dataset aja, yg distandardized sama yg engga

#X_num = X[:,:len(num_cols)]
#sc_X = StandardScaler() #object scaler
#X_num = sc_X.fit_transform(X_num)

#X[:,:len(num_cols)] = X_num
#print(X)
#print(X.shape)

In [ ]:
#INI KALAU OUTPUT CHURN HARUS 'Y' ATAU 'N' BUKAN '1' DAN '0'
#kalau engga dicomment aja

def mapchurn(x):
  if (x==1):
    return 'Y'
  else:
    return 'N'

Y_temp = np.empty(Y.shape,dtype=str)
for i in range(len(Y)):
  Y_temp[i] = mapchurn(Y[i])

print(Y)
print(Y_temp)
Y = Y_temp #Label churn sekarang berupa 'Y' atau 'N'
Y

[1 1 0 ... 0 1 0]
['Y' 'Y' 'N' ... 'N' 'Y' 'N']

array(['Y', 'Y', 'N', ..., 'N', 'Y', 'N'], dtype='<U1')

In [ ]:
#PREPROCESSING SELESAI
#Penyesuaian dimensi:

X = X.T
Y = Y.reshape(1,-1)

#DESKRIPSI:
#X adalah matriks fitur dataset dengan size FxM
#Baris F adalah fitur-fitur dataset sejumlah 89 fitur
#Kolom M adalah sample-sample dari dataset

#Y adalah array label setiap sample dengan size 1xM
#M adalah sample-sample pada dataset

print(X)
print(X.shape)
print(Y)
print(Y.shape)

[[ 23.9975      16.99        55.23       ...  41.84        38.34
   31.92333333]
 [219.25        10.25       570.5        ... 351.         319.5
   63.33333333]
 [ 22.5         16.99        71.98       ...  30.          30.
   16.99      ]
 ...
 [  0.           0.           0.         ...   0.           0.
    0.        ]
 [  0.           0.           0.         ...   0.           0.
    0.        ]
 [  0.           0.           0.         ...   0.           0.
    0.        ]]
(88, 30651)
[['Y' 'Y' 'N' ... 'N' 'Y' 'N']]
(1, 30651)

##EXPORT DATASET IN CSV FORM

In [ ]:
df_preprocessed = pd.DataFrame(np.append(X.T,Y.T,axis=1),columns=cols)
df_preprocessed #dataset yang sudah dipreprocess

#NOTE!!
#df_preprocessed ini BEDA DIMENSI dengan matriks X dan vector Y sebelumnya!
#Konvensi dataframe csv ini sesuai dengan csv sebelumnya!

#INI DI-UNCOMMENT KALO MAU NGESAVE AJA DI DRIVE:
#PERHATIIN PENAMAAN SEBELUM EXPORT KE DRIVE
#df_preprocessed.to_csv('/content/gdrive/My Drive/TubesAI_folder/df_preprocessed.csv',index=False) #export ke folder TubesAI_folder di drive

          rev_Mean     mou_Mean totmrc_Mean  ... refurb_new kid16_17 churn
0          23.9975       219.25        22.5  ...        0.0      0.0     Y
1            16.99        10.25       16.99  ...        0.0      0.0     Y
2            55.23        570.5       71.98  ...        0.0      0.0     N
3          31.6625         25.5       29.99  ...        0.0      0.0     N
4          212.515       1971.5       84.99  ...        0.0      0.0     N
...            ...          ...         ...  ...        ...      ...   ...
30646      49.3625       187.75     40.0725  ...        0.0      0.0     Y
30647        47.49          0.0       49.99  ...        0.0      1.0     Y
30648        41.84        351.0        30.0  ...        0.0      0.0     N
30649        38.34        319.5        30.0  ...        0.0      0.0     Y
30650  31.92333333  63.33333333       16.99  ...        0.0      0.0     N

[30651 rows x 89 columns]

##Feature Selection Weka Toolkit

In [ ]:
'''
=== Attribute Selection on all input data ===

Search Method:
	Attribute ranking.

Attribute Evaluator (supervised, Class (nominal): 89 churn):
	Information Gain Ranking Filter

Ranked attributes:
 0.025533    49 months
 0.023637    76 eqpdays
 0.011215    67 hnd_price
 0.007733     3 totmrc_Mean
 0.007376    10 change_mou
 0.005901     2 mou_Mean
 0.004948    61 avg3mou
 0.003985    62 avg3qty
 0.00289     29 mou_cvce_Mean
 0.0028      55 adjrev
 0.00246     54 totrev
 0.002374    42 mou_opkv_Mean
 0.002162    84 asl_flag
 0.00215     35 mouiwylisv_Mean
 0.002046    52 totcalls
 0.001923    64 avg6mou
 0.001915    57 adjqty
 0.001886    34 iwylis_vce_Mean
 0.00186     24 custcare_Mean
 0.001818    38 mou_peav_Mean
 0.001719    72 lor
 0.001549    11 change_rev
 0.00153     26 cc_mou_Mean
 0.001464    40 opk_vce_Mean
 0.001451    25 ccrndmou_Mean
 0.001421     6 ovrrev_Mean
 0.001402     7 vceovr_Mean
 0.00139     33 mouowylisv_Mean
 0.001386    65 avg6qty
 0.001376    69 models
 0.001329     5 ovrmou_Mean
 0.00127     32 owylis_vce_Mean
 0.001193    45 attempt_Mean
 0.001189    22 comp_vce_Mean
 0.001172    18 plcd_vce_Mean
 0.001158    46 complete_Mean
 0.001136    68 phones
 0.001126    36 peak_vce_Mean
 0.001053    86 refurb_new
 0.000879    56 adjmou
 0.00087     53 totmou
 0.00079     16 unan_vce_Mean
 0.000743    31 mou_rvce_Mean
 0.000686    50 uniqsubs
 0.000653     1 rev_Mean
 0.00062     58 avgrev
 0.00062     63 avg3rev
 0.000577    28 threeway_Mean
 0.000545     9 roam_Mean
 0.00048     44 drop_blk_Mean
 0.000282    80 kid0_2
 0.000272    74 income
 0.000234    87 kid3_5
 0           39 mou_pead_Mean
 0           13 drop_dat_Mean
 0           12 drop_vce_Mean
 0           14 blck_vce_Mean
 0           78 kid6_10
 0           15 blck_dat_Mean
 0           75 numbcars
 0           77 new_cell
 0            8 datovr_Mean
 0           79 infobase
 0           83 dwlltype
 0           85 kid16_17
 0            4 da_Mean
 0           81 kid11_15
 0           82 creditcd
 0           17 unan_dat_Mean
 0           19 plcd_dat_Mean
 0           37 peak_dat_Mean
 0           48 callwait_Mean
 0           30 mou_cdat_Mean
 0           51 actvsubs
 0           47 callfwdv_Mean
 0           20 recv_vce_Mean
 0           43 mou_opkd_Mean
 0           41 opk_dat_Mean
 0           59 avgmou
 0           60 avgqty
 0           27 inonemin_Mean
 0           66 avg6rev
 0           21 recv_sms_Mean
 0           73 adults
 0           23 comp_dat_Mean
 0           71 rv
 0           70 truck
 0           88 ownrent

Selected attributes: 49,76,67,3,10,2,61,62,29,55,54,42,84,35,52,64,57,34,24,38,72,11,26,40,25,6,7,33,65,69,5,32,45,22,18,46,68,36,86,56,53,16,31,50,1,58,63,28,9,44,80,74,87,39,13,12,14,78,15,75,77,8,79,83,85,4,81,82,17,19,37,48,30,51,47,20,43,41,59,60,27,66,21,73,23,71,70,88 : 88

'''

'\n=== Attribute Selection on all input data ===\n\nSearch Method:\n\tAttribute ranking.\n\nAttribute Evaluator (supervised, Class (nominal): 89 churn):\n\tInformation Gain Ranking Filter\n\nRanked attributes:\n 0.025533    49 months\n 0.023637    76 eqpdays\n 0.011215    67 hnd_price\n 0.007733     3 totmrc_Mean\n 0.007376    10 change_mou\n 0.005901     2 mou_Mean\n 0.004948    61 avg3mou\n 0.003985    62 avg3qty\n 0.00289     29 mou_cvce_Mean\n 0.0028      55 adjrev\n 0.00246     54 totrev\n 0.002374    42 mou_opkv_Mean\n 0.002162    84 asl_flag\n 0.00215     35 mouiwylisv_Mean\n 0.002046    52 totcalls\n 0.001923    64 avg6mou\n 0.001915    57 adjqty\n 0.001886    34 iwylis_vce_Mean\n 0.00186     24 custcare_Mean\n 0.001818    38 mou_peav_Mean\n 0.001719    72 lor\n 0.001549    11 change_rev\n 0.00153     26 cc_mou_Mean\n 0.001464    40 opk_vce_Mean\n 0.001451    25 ccrndmou_Mean\n 0.001421     6 ovrrev_Mean\n 0.001402     7 vceovr_Mean\n 0.00139     33 mouowylisv_Mean\n 0.001386    65 avg6qty\n 0.001376    69 models\n 0.001329     5 ovrmou_Mean\n 0.00127     32 owylis_vce_Mean\n 0.001193    45 attempt_Mean\n 0.001189    22 comp_vce_Mean\n 0.001172    18 plcd_vce_Mean\n 0.001158    46 complete_Mean\n 0.001136    68 phones\n 0.001126    36 peak_vce_Mean\n 0.001053    86 refurb_new\n 0.000879    56 adjmou\n 0.00087     53 totmou\n 0.00079     16 unan_vce_Mean\n 0.000743    31 mou_rvce_Mean\n 0.000686    50 uniqsubs\n 0.000653     1 rev_Mean\n 0.00062     58 avgrev\n 0.00062     63 avg3rev\n 0.000577    28 threeway_Mean\n 0.000545     9 roam_Mean\n 0.00048     44 drop_blk_Mean\n 0.000282    80 kid0_2\n 0.000272    74 income\n 0.000234    87 kid3_5\n 0           39 mou_pead_Mean\n 0           13 drop_dat_Mean\n 0           12 drop_vce_Mean\n 0           14 blck_vce_Mean\n 0           78 kid6_10\n 0           15 blck_dat_Mean\n 0           75 numbcars\n 0           77 new_cell\n 0            8 datovr_Mean\n 0           79 infobase\n 0           83 dwlltype\n 0           85 kid16_17\n 0            4 da_Mean\n 0           81 kid11_15\n 0           82 creditcd\n 0           17 unan_dat_Mean\n 0           19 plcd_dat_Mean\n 0           37 peak_dat_Mean\n 0           48 callwait_Mean\n 0           30 mou_cdat_Mean\n 0           51 actvsubs\n 0           47 callfwdv_Mean\n 0           20 recv_vce_Mean\n 0           43 mou_opkd_Mean\n 0           41 opk_dat_Mean\n 0           59 avgmou\n 0           60 avgqty\n 0           27 inonemin_Mean\n 0           66 avg6rev\n 0           21 recv_sms_Mean\n 0           73 adults\n 0           23 comp_dat_Mean\n 0           71 rv\n 0           70 truck\n 0           88 ownrent\n\nSelected attributes: 49,76,67,3,10,2,61,62,29,55,54,42,84,35,52,64,57,34,24,38,72,11,26,40,25,6,7,33,65,69,5,32,45,22,18,46,68,36,86,56,53,16,31,50,1,58,63,28,9,44,80,74,87,39,13,12,14,78,15,75,77,8,79,83,85,4,81,82,17,19,37,48,30,51,47,20,43,41,59,60,27,66,21,73,23,71,70,88 : 88\n\n'